<link rel="stylesheet" href="/css/delete.css">
<link rel="stylesheet" href="/css/table.css">

<section class="table__body" id="profile"
    style="background-image: url(https://res.cloudinary.com/dvapewbfh/image/upload/v1713248787/images/female_vm14tv.jpg);">
    <h1>Female Ranks</h1>
    <table id="male">
        <thead>
            <tr>
                <th> No. </th>
                <th> Player </th>
                <th> P </th>
                <th> Win </th>
                <th> Lose </th>
                <th> SD </th>
                <th> W15 </th>
                <th> L15 </th>
                <th> Point </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            {{#each females}}
            <tr>
                <td>{{@index}}</td>
                <td class="imgCell">
                    <img src="{{Img}}" alt="">
                    <div class="name">{{Name}}</div>
                </td>
                <td>
                    <div class="PValue">{{sum Win Lose W15}}</div>
                </td>
                <td>
                    <div class="child">
                        <button class="win" onclick="update(this, -1)">-</button>
                        <div class="winValue">{{Win}}</div>
                        <button class="win" onclick="update(this, 1)">+</button>
                    </div>
                </td>
                <td>
                    <div class="child">
                        <button class="lose" onclick="update(this, -1)">-</button>
                        <div class="loseValue">{{Lose}}</div>
                        <button class="lose" onclick="update(this, 1)">+</button>
                    </div>
                </td>
                <td>
                    <div class="sdValue">{{SD}}</div>
                </td>
                <td>
                    <div class="child">
                        <button class="w15" onclick="update(this, -1)">-</button>
                        <div class="w15Value">{{W15}}</div>
                        <button class="w15" onclick="update(this, 1)">+</button>
                    </div>
                </td>
                <td>
                    <div class="child">
                        <button class="l15" onclick="update(this, -1)">-</button>
                        <div class="l15Value">{{L15}}</div>
                        <button class="l15" onclick="update(this, 1)">+</button>
                    </div>
                </td>
                <td>
                    <div class="ptsValue">{{PTS}}</div>
                </td>
                <td>
                    <div class="deleteMember" id="females" onclick="deleteMemberHandle(this)">
                        <i class='bx bxs-message-square-x'></i>
                    </div>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    <button onclick="doneUpdate()" class="update" id="females">Done</button>
    <button onclick="reset()" class="update" id="females">Reset</button>
</section>
<!-- END: abpxx6d04wxr -->
<script src="/JS/delete.js"></script>
<script src="/JS/updates.js"></script>