<link rel="stylesheet" href="/CSS/table.css">
<section id="main"
    style="background-image: url(https://res.cloudinary.com/dvapewbfh/image/upload/v1706087790/images/cf3bu8rirbpodpuimuzc.jpg);">
    <h1>Neverland</h1>
</section>
<section class="table__body" id="male"
    style="background-image: url(https://res.cloudinary.com/dvapewbfh/image/upload/v1713248787/images/male_wfia5i.jpg);">
    <h1>Male Ranks</h1>
    <table id="male">
        <thead>
            <tr>
                <th> No. </th>
                <th> Player </th>
                <th> P </th>
                <th> Win </th>
                <th> Lose </th>
                <th> SD </th>
                <th> W15 </th>
                <th> L15 </th>
                <th> Point </th>
            </tr>
        </thead>
        <tbody>
            {{#each males}}
            <tr>
                <td>{{addOne @index}}</td>
                <td><img src="{{Img}}" alt="">{{Name}}</td>
                <td>
                    <div class="PValue">{{sum Win Lose W15}}</div>

                </td>
                <td>{{Win}}</button></td>
                <td>{{Lose}}</button></td>
                <td>{{SD}}</td>
                <td>{{W15}}</button></td>
                <td>{{L15}}</button></td>
                <td>{{PTS}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <form action="/update/male" method="get"><button class="update" id="males">Updates</button></form>
</section>
<!-- END: abpxx6d04wxr -->

<!-- BEGIN: be15d9bcejpp -->
<section class="table__body" id="female"
    style="background-image: url(https://res.cloudinary.com/dvapewbfh/image/upload/v1713248787/images/female_vm14tv.jpg);">
    <h1>Female Ranks</h1>
    <table id="female">
        <thead>
            <tr>
                <th> No. </th>
                <th> Player </th>
                <th> P </th>
                <th> Win </th>
                <th> Lose </th>
                <th> SD </th>
                <th> W15 </th>
                <th> L15 </th>
                <th> Point </th>
            </tr>
        </thead>
        <tbody>
            {{#each females}}
            <tr>
                <td>{{addOne @index}}</td>
                <td><img src="{{Img}}" alt="">{{Name}}</td>
                <td>
                    <div class="PValue">{{sum Win Lose W15}}</div>

                </td>
                <td>{{Win}}</button></td>
                <td>{{Lose}}</button></td>
                <td>{{SD}}</td>
                <td>{{W15}}</button></td>
                <td>{{L15}}</button></td>
                <td>{{PTS}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <form action="/update/female" method="get"><button class="update" id="females">Updates</button></form>
</section>
<section id="create"
    style="background-image: url(https://res.cloudinary.com/dvapewbfh/image/upload/v1706085599/images/ls2lz9cahewvtvjs43bb.jpg);">
    <h1>Create Member</h1>
    <form action="/member/create" method="POST" enctype="multipart/form-data">
        <input type="text" id="name" name="Name" placeholder="Name">
        {{!-- <input type="text" id="p" name="Played" placeholder="Played (current value: 0)">
        <input type="text" id="w" name="Win" placeholder="Win (current value: 0)">
        <input type="text" id="l" name="Lose" placeholder="Lose (current value: 0)">
        <input type="text" id="sd" name="SD" placeholder="SD (current value: 0)">
        <input type="text" id="w15" name="W15" placeholder="Win up 15 (current value: 0)">
        <input type="text" id="l15" name="L15" placeholder="Lose down 15 (current value: 0)"> --}}
        <select id="Gender" name="gender">
            <option value="other">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <div>
            <label for="img">Select image:</label>
            <input type="file" id="img" name="Img">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

<script src="script.js"></script>