<link rel="stylesheet" href="/css/delete.css">
<link rel="stylesheet" href="/css/table.css">


<section class="table__body" id="profile"
    style="background-image: url(https://asset.cloudinary.com/dvapewbfh/24fe18bdfa87ec1c75d6c789a0c2f9ec);">
    <h1>Male Ranks</h1>
    <table id="male">
        <thead>
            <tr>
                <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                <th> Player <span class="icon-arrow">&UpArrow;</span></th>
                <th> Win <span class="icon-arrow">&UpArrow;</span></th>
                <th> Lose <span class="icon-arrow">&UpArrow;</span></th>
                <th> SD <span class="icon-arrow">&UpArrow;</span></th>
                <th> W15 <span class="icon-arrow">&UpArrow;</span></th>
                <th> L15 <span class="icon-arrow">&UpArrow;</span></th>
                <th> Point <span class="icon-arrow">&UpArrow;</span></th>
                <th> Delete <span class="icon-arrow">&UpArrow;</span></th>

            </tr>
        </thead>
        <tbody>
            {{#each males}}
            <tr>
                <td>{{@index}}</td>
                <td class="imgCell"><img src="{{Img}}" alt="">
                    <div class="name">{{Name}}</div>
                </td>
                <td>
                    <div class="child">
                        <button class="win" onclick="update(this, -1)">-</button>
                        <div class="winValue">{{Win}}</div>
                        <button class="win" onclick="update(this, 1)">+</button>
                    </div>
                </td>
                <td>
                    <div class="child">
                        <button class="lose" onclick="update(this, -1)">-</button>
                        <div class="loseValue">{{Lose}}</div>
                        <button class="lose" onclick="update(this, 1)">+</button>
                    </div>
                </td>
                <td>
                    <div class="sdValue">{{SD}}</div>
                </td>
                <td>
                    <div class="child">
                        <button class="w15" onclick="update(this, -1)">-</button>
                        <div class="w15Value">{{W15}}</div>
                        <button class="w15" onclick="update(this, 1)">+</button>
                    </div>
                </td>
                <td>
                    <div class="child">
                        <button class="l15" onclick="update(this, -1)">-</button>
                        <div class="l15Value">{{L15}}</div>
                        <button class="l15" onclick="update(this, 1)">+</button>
                    </div>
                </td>
                <td>
                    <div class="ptsValue">{{PTS}}</div>
                </td>
                <td>
                    <div class="deleteMember" id="males" onclick="deleteMemberHandle(this)">
                        <i class='bx bxs-message-square-x'></i>
                    </div>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
        <button onclick="doneUpdate()" class="update" id="males">Done</button>
        <button onclick="reset(this)" class="update" id="males">Reset</button>

</section>
<!-- END: abpxx6d04wxr -->
<script src="/JS/delete.js"></script>